
  .page-container {
    position: relative; overflow: hidden; 
    width: 1000vh;
    height: 1000vh;
    background-color: black; /* Set your desired background color*/
    padding: 25px; /*Adjust as needed */
  }

 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns*/ 
    gap: 2px; /* Adjust the gap between items */
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Set the background color for your grid items */
    border: 1px solid black; /* Add border for clarity */
    padding: 5px; 
    /* Add padding for spacing */
  }

  /* This targets all 10 bugs at once */
  .bug {
    position: absolute;
    z-index: 99; /* Forces all bugs onto a high layer */
   pointer-events: none; /* Stops the bugs from blocking mouse clicks on your text/links */
    width: 50px; /*Sets standard width */
    height: 25px;  /*Sets standard height*/
  }


 /*#invisibleElement {
opacity: 0; /* Start as invisible
transition: opacity 0.3s; /* Smooth transition 

}

#invisibleElement.visible {
  opacity: 1;

}
  /* Make visible */ 
/*#hackedPic {
     position: fixed;
     inset: 0;
     width: 100vw;
     height: 100vh;
     object-fit: cover;
    opacity: 0.5;
    z-index: 9999;
}

/*.page-container {
    background-color: #f0f0f0; /* Set your desired background color
    padding: 20px; Adjust as needed 
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns 
    gap: 10px; Adjust the gap between items 
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Set the background color for your grid items 
    border: 1px solid black; /Add border for clarity 
    padding: 20px; /* Add padding for spacing */
  

.spider {
  position: absolute;
  top: 45vh;
  left: 10vh;
  animation: walk 2s linear infinite alternate; 
    transform: translateX(-50%);
  width: 100px;
  height: 100px; 
  /* Adjust timing as needed */
}


@keyframes walk {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% - 50px)); 
   
    */adjustspider/*
  }
